.comment.cw-answer-direct .content {
	border-color: #FFB0B0;
	border-width: 3px;
}

.comment.cw-answer-later .content{
	border-color: #00FFAF;
	border-width: 3px;
}

.comments .cw-answer-later {
}

.comments .cw-action-wont-reply,.comments .cw-action-reply-later {
	margin-left: 5px;
	color: red;
}

.comments .cw-action-reply-later {
	color: green;
}

.comments .cw-action-wont-reply,.comments .cw-action-reply-later {
}

.comments .cw-action-reply-later 
{
	color: green;
}

#update .direct_comments_counter, #update .later_comments_counter {
	border-top: 1px solid #ECECED;
	color: red;
	font-weight: bold;
	cursor: pointer;
	margin-top: 3px;
	padding-top: 7px;
}

#update .later_comments_counter {
	color: green;
}