<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Comment Watcher: Topics</lang>
	</name>
	<author>
		<lang name="default">Alexei Lukin aka Kerby</lang>
	</author>
	<homepage>http://imthinker.ru</homepage>
	<version>1.0.2</version>
	<requires>
		<livestreet>0.5.1</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Watch for comments activity: Topics mod</lang>
		<lang name="russian">Слежение за активностью комментов. Мод слежения за топиками.</lang>
	</description>
</plugin>