.comment.cw-answer-direct .content {
	background-color: #FFB0B0;
}

.comment.cw-answer-later .content{
	background-color: #00FFAF;
}

.comment.cw-answer-direct .voting, .comment.cw-answer-later .voting {
	top: 4px;
}

.comments .cw-answer-later {
}

.comments .cw-action-wont-reply,.comments .cw-action-reply-later {
	margin-left: 5px;
	color: red;
}

.comments .cw-action-reply-later {
	color: green;
}

.comments .cw-action-wont-reply,.comments .cw-action-reply-later {
}

.comments .cw-action-reply-later 
{
	color: green;
}

#update .direct_comments_counter, #update .later_comments_counter {
	border-top: 1px solid #ECECED;
	color: red;
	font-weight: bold;
	cursor: pointer;
	margin-top: 3px;
	padding-top: 7px;
	text-align: center;
}

#update .later_comments_counter {
	color: green;
}